# Archivos y carpetas que Git debe ignorar

# Python
__pycache__/
*.py[cod]
*.log

# Entornos virtuales
venv/
env/

# Archivos ocultos de IDEs
.vscode/
.idea/

# Archivos de datos
datos.txt
*.json

# Otros
.DS_Store